<div class="text-center">

    <h1 class="display-4">Swiping</h1>

    <p><b>Item name:</b> @TempData["name"]</p>

    <p><b>Category:</b> @TempData["cat"]</p>

    <p><b>Condition:</b> @TempData["cond"]</p>

    <p><b>Description:</b> @TempData["desc"]</p>

    <p><b>Size:</b> @TempData["size"]</p>

    <p><b>Date of purchase:</b> @TempData["date"]</p>

    <p><b>Karma Points:</b> @TempData["karma"]</p>

    <form>
        <button type="submit" name="button" value="Next" asp-action="LoadNext" class="btn btn-primary">Next</button>
        <button type="submit" name="button" value="Like" asp-action="LikeThis" class="btn btn-primary">Like</button>
    </form>

    <p></p>

</div>

