
<div class="text-center">

    <h1 class="display-4">Swiping</h1>

    <p>Item name:</p>
    @TempData["name"]

    <p>Category:</p>
    @TempData["cat"]

    <p>Condition:</p>
    @TempData["cond"]

    <p>Description:</p>
    @TempData["desc"]

    <p>Size:</p>
    @TempData["size"]

    <p>Date of purchase:</p>
    @TempData["date"]

    <p>KarmaPrice:</p>
    @TempData["karma"]

    <br />
    @TempData["user"]


    <form>
        <button type="submit" name="button" value="Next" asp-action="loadNext" class="btn btn-primary">Next</button>
        <button type="submit" name="button" value="Like" asp-action="likeThis" class="btn btn-primary">Like</button>
    </form>

    <p></p>

</div>
